/* Styles adapted from https://github.com/DevProgress/swear-jar,
   ifihadaquarter.com
*/


/* General */

html {
    position: relative;
    min-height: 100%;
}

body {
    font: 20px Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-size:100%;
    margin-bottom: 50px;
}

p {
    margin-bottom: 1em
}

.blue {
    color: #337ab7;
}

.no-display {
    display: none;
}

/* Sidebar */

.sidebar {
    margin-top: 20px;
}

.sidebar-header {
    font-weight: 700;
    margin-bottom: 1em
}

.sidebar-content {
}

#camera {
    text-align: center;
}

#video-wrapper {
    width: 454px;
    height: 404px;
    position: relative;
    margin: 0 auto;
}

#video {
    width: 396px;
    position: absolute;
    top: 30px;
    left: 29px;
}

#maincanvas {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#startbutton {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 20px;
}

.font-load {
    font-family: Coming Soon;
}

/* Header */

.header {
    font-family: cooper-black-std;
    font-size: 48px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #003366;
    color: #fff;
}

/* Main */

.main {
    text-align: right;
    margin-top: 20px;
}

.example-wrapper {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Footer */

.footer {
    text-align: center;
    background-color: #003366;
    color: #fff;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer a:hover {
    color: #fff;
}

/* Popup */

.confirmation-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.confirmation-overlay {
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.confirmation-body {
    background: #fff;
    box-sizing: border-box;
    max-width: 500px;
    padding: 20px;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.confirmation-body .btn-close {
    background: none;
    cursor: pointer;
    font-size: 24px;
    color: #aaa;
    padding: 0;
    position: absolute;
    top: 0;
    right: 10px;
}

.output {
    margin-top: 1em;
}

.share-button-wrapper, .text-button-wrapper {
    text-align: center;
    margin-top: 1em;
    cursor: pointer;
}

.share-button-wrapper img {
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
}

.share-button-wrapper a:hover {
    text-decoration: none;
}

.input-wrapper {
    text-align: center;
    width: 454px;
}

.input-message {
    margin-top: 1em;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 35px;
    text-indent: 10px;
}

.result {
    text-align: center;
    margin-top: 1em;
}
